# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project
.idea/
Models/
Results/
Data/KB/
Data/cache/
Data/Frames
Training/
Data/PriorScores/
*.tsv
*.csv
*.pckl
.gitignore
